# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'

WORKSPACE_ID=<put workspace id here>

ASSISTANT_IAM_APIKEY=JWI6cQqXVQDlTDE_FFEnd7aKoKnEa8wse_suMrcT5TtY
ASSISTANT_URL=https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a800005f-08a1-4dfe-98d5-a14df424b7ea 
